<% content_for(:title, '登録情報変更') %>
<section class="d-flex flex-column justify-content-center align-items-center gap-3 m-3">
  <h2>
    <%= t('.title', resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: 'registrations.edit.title')) %>
  </h2>
  <div class="fs-5" style="min-width: 25rem;">
    <%= bootstrap_form_with(model: @user, label_errors: true, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="field">
        <% if resource.avatar.attached? && resource.avatar.variable? %>
          <%= f.label :avatar do %>
            現在のアイコン
            <%= image_tag(resource.avatar.variant(:profile_icon),
                          class: 'border border-primary-secondary rounded-circle m-3',
                          style: 'width: 4rem; height: 4rem; cursor:pointer;',
                          alt: 'ユーザのアイコン')
            %>
          <% end %>
        <% end %>
        <%= f.file_field :avatar %>
      </div>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="field">
        <% help_text_password = '' %>
          <% if @minimum_password_length %>
            <% help_text_password += t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
          <% end %>
        <% help_text_password += t('.leave_blank_if_you_don_t_want_to_change_it') %>
        <%= f.password_field :password, autocomplete: "new-password", help: help_text_password %>
      </div>

      <div class="field">
        <% help_text_password_confirm = t('.leave_blank_if_you_don_t_want_to_change_it') %>        
        <%= f.password_field :password_confirmation, autocomplete: "new-password", help: help_text_password_confirm %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions d-flex justify-content-center">
        <%= f.submit t('.update'), class: "btn btn-outline-primary btn-lg" %>
      </div>
    <% end %>
  </div>
  <%= link_to t('.cancel_my_account'),
      registration_path(resource_name),
      data: { turbo_method: :delete, turbo_confirm: t('.are_you_sure')  },
      class: "m-4"
  %>
</section>
