<% content_for(:title, 'アカウント登録') %>
<% set_meta_tags description: 'アカウント登録ページです。' %>

<div class="d-flex flex-column justify-content-center align-items-center gap-3 m-3">
  <h1 class="text-center">
    <%= link_to top_page_path do %>
      <%= image_tag('logo-vertical.png', alt: 'GifTreatのロゴ', style: 'max-width: 15rem;') %>
    <% end %>
  </h1>
  <h2 class="main-color"><%= t('.sign_up') %></h2>

  <div style="min-width: 15rem;">
    <%= bootstrap_form_with(model: @user, label_errors: true, url: registration_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <% help_text_password = '' %>
        <% if @minimum_password_length %>
          <% help_text_password += t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", help: help_text_password %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions d-flex justify-content-center">
        <%= f.submit t('.sign_up'), class: 'btn btn-outline-primary fs-5 mt-3', style: 'width: 10rem; height: 3rem;' %>
      </div>
    <% end %>
  </div>
</div>
