<%= turbo_frame_tag reward do %>
  <div class="d-flex flex-column align-items-center">
    <div class="fw-medium px-2 pb-3" style="font-size: 1.1rem;">
      <%= reward.location %>で
      <%= reward.description %>する
    </div>
    <div class="d-flex flex-nowrap border-top w-100 pt-3 px-2">
      <span class="ps-3" style="font-size: 0.8rem;">開催日</span>
      <span class="flex-grow-1 text-center fw-semibold pe-4" style="font-size: 1.25rem;">
        <%= l reward.completion_date, format: :long %>
      </span>
    </div>
  </div>
<% end %>

<% if reward.in_progress? %>
  <div class="d-flex border-top justify-content-center px-2 mt-3 pt-3 gap-3">
    <% unless reward.max_reward_participants? %>
      <%= link_to 'ご褒美に招待する', invite_reward_path(reward), class: 'btn btn-outline-secondary w-75 fs-5', data: { turbo_frame: "modal"} %>
    <% end %>
    <%= link_to "編集", edit_reward_path(reward), class: 'btn btn-outline-secondary flex-grow-1 fs-5', style: "max-width: 6rem", data: { turbo_frame: "modal"} %>
  </div>
<% end %>
