<%= turbo_frame_tag reward, class: 'd-flex text-center' do %>
  <div class="d-flex align-items-center mb-2">
    <div class="border border-primary-secondary bg-white rounded px-1 py-2">
      <%= reward.completion_date %>
    </div>
    <span class="mx-2">に</span>
  </div>
  <div class="d-flex flex-grow-1 flex-nowrap align-items-center mb-2">
    <div class="flex-grow-1 border border-primary-secondary bg-white rounded px-1 py-2">
      <%= reward.location %>
    </div>
    <span class="ms-2">で</span>
  </div>
<% end %>

<%= turbo_frame_tag reward, class: 'text-center' do %>
  <div class="d-flex flex-grow-1 flex-nowrap align-items-center">
    <div class="flex-grow-1 border border-primary-secondary bg-white rounded px-1 py-2">
      <%= reward.description %>
    </div>
    <span class="text-nowrap ms-2">する</span>
  </div>
<% end %>

<div class="d-flex align-items-center justify-content-center mt-2 gap-3">
  <% if reward.in_progress? %>
    <%= link_to "編集", edit_reward_path(reward), class: 'btn btn-outline-secondary fs-5', style: 'width: 8rem', data: { turbo_frame: "modal"} %>
    <% unless reward.max_reward_participants? %>
      <%= link_to 'このご褒美に招待する', invite_reward_path(reward), class: 'btn btn-outline-secondary fs-5', style: 'width: 8rem', data: { turbo_frame: "modal"} %>
    <% end %>
  <% end %>
</div>
