<% content_for(:title, 'ご褒美・目標新規登録') %>
<% set_meta_tags description: 'ご褒美と目標の新規登録ページです。' %>
<h2 class="main-color text-center w-100 title-bg-color py-3">ご褒美・目標登録</h2>

<div class="d-flex flex-column justify-content-center align-items-center my-2 mx-1">
  <%= bootstrap_form_with(model: @reward, label_errors: true) do |form| %>
    <section>
      <h3 class="border border-secondary-subtle rounded-top text-center main-color py-2 mt-1 mb-0">ご褒美</h3>
      <div class="d-flex flex-column border border-secondary-subtle border-top-0 rounded-bottom mb-3 px-2 py-3">
        <%= form.date_field :completion_date,
            class: 'form-control rounded w-75',
            help: 'ご褒美を受け取る日を入力して下さい。'
        %>
        <%= form.text_area :location,
            class: 'form-control rounded',
            placeholder: '叙々苑新宿店',
            help: 'ご褒美を受け取る場所を入力して下さい。（例：草津の湯畑）',
            append: 'で'
        %>
        <%= form.text_area :description,
            class: 'form-control rounded',
            placeholder: '友人を誘って皆で食事を',
            help: 'ご褒美の内容を入力して下さい。（例：友人と温泉旅行を）',
            append: 'する'
        %>
      </div>
    </section>
    <section>
      <h3 class="border border-secondary-subtle rounded-top text-center main-color py-2 mt-1 mb-0">目標</h3>
      <div class="border border-secondary-subtle border-top-0 rounded-bottom mb-2 px-2 py-3">
        <div class="d-flex flex-column">
          <%= form.fields_for :goals do |goal_form| %>
            <%= goal_form.text_area :description,
                  class: 'form-control px-3 p-2',
                  style: 'height: 10rem;',
                  placeholder: '毎日10分ランニングをする！',
                  help: '開催日までに達成したい目標を入力して下さい。（例：資格試験の勉強をする。）'
            %>
            <div class="w-50">
              <%= goal_form.number_field :progress,
                class: 'form-control text-center rounded',
                append: '%'
              %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <div class="d-flex justify-content-center my-3">
      <%= form.submit "ご褒美と目標を登録する", class: 'btn btn-outline-primary fs-5', style: 'width: 18rem; height: 3rem;' %>
    </div>
  <% end %>
</div>
