<% content_for(:title, 'パスワード再設定') %>
<% set_meta_tags description: 'パスワード再設定ページです。' %>

<div class="d-flex flex-column justify-content-center align-items-center gap-3 m-3">
  <h1 class="text-center">
    <%= link_to user_session_path do %>
      <%= image_tag('logo-top-page.png', class: 'w-50 h-25', alt: 'GifTreatのロゴ') %>
    <% end %>
  </h1>
  <h2><%= t('.change_your_password') %></h2>

  <div class="fs-4" style="min-width: 25rem;">
    <%= bootstrap_form_with(model: @user, label_errors: true, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <% help_text_password = '' %>
        <% if @minimum_password_length %>
          <% help_text_password += t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", help: help_text_password %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions d-flex justify-content-center">
        <%= f.submit t('.change_my_password'), class: 'btn btn-outline-primary btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
