<% content_for(:title, '目標・ご褒美管理ツール') %>
<div class="d-flex flex-column justify-content-center align-items-center gap-3 m-3">
  <h1 class="text-center"><%= image_tag('welcome/logo-vertical.png', alt: 'GifTreatのロゴ', style: 'max-width: 20rem;') %></h1>
  <section class="d-flex flex-column justify-content-center align-items-center gap-2">
    <h2 class="main-color">努力できた自分を褒めよう！</h2>
    <div class="character-color">
      目標と達成後のご褒美を管理するツール
    </div>
    <%= link_to "無料でアカウント登録", new_user_registration_path, class: 'btn btn-danger' %>
    <%= link_to "登録済の方はこちらから", user_session_path, class: 'main-color' %>
  </section>
  <section class="d-flex flex-column justify-content-center align-items-center gap-2">
    <h3 class="main-color">目標 + ご褒美</h2>
    <div class="character-color">
      GifTreatはただの目標管理ツールではなく、目標と同時に、<br>
      達成後に得られるご褒美も登録する管理ツールです。
    </div>
    <div class="d-flex">
      <%= image_tag('welcome/goal-setting.png', alt: '目標を設定するイラスト', style: 'max-width: 10rem;') %>
      <%= image_tag('welcome/reward-individual.png', alt: '個人でお祝いするイラスト', style: 'max-width: 10rem;') %>
    </div>
  </section>
  <section class="d-flex flex-column justify-content-center align-items-center gap-2">
    <h3 class="main-color">グループで共通のご褒美</h2>
    <div class="character-color">
      さらに、個人利用だけでなく、グループで共通のご褒美を設定でき、<br>
      各々が設定した目標の達成後に皆でお祝いすることもできます。
    </div>
    <%= image_tag('welcome/reward-group.png', alt: '個人でお祝いするイラスト', style: 'max-width: 20rem;') %>
  </section>
</div>
