<% content_for(:title, 'ログイン') %>
<% set_meta_tags description: 'ログインページです。' %>

<section class="d-flex flex-column justify-content-center align-items-center gap-3 m-3">
  <h1 class="text-center">
    <%= link_to top_page_path do %>
      <%= image_tag('logo-vertical.png', alt: 'GifTreatのロゴ', style: 'max-width: 15rem;') %>
    <% end %>
  </h1>
  <h2 class="main-color"><%= t('.sign_in') %></h2>
  <div class="fs-5" style="min-width: 15rem;">
    <%= bootstrap_form_with(model: @user, label_errors: true, url: session_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="actions d-flex justify-content-center">
        <%= f.submit t('.sign_in'), class: 'btn btn-outline-primary fs-5 my-2', style: 'width: 10rem; height: 3rem;' %>
      </div>
      
    <% end %>

    <div class="d-flex flex-column justify-content-center align-items-center m-3 gap-3">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to t(".forgot_your_password"), new_password_path(resource_name) %>
      <% end %>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to t(".sign_up"), new_registration_path(resource_name) %>
      <% end %>
    </div>
  </div>
</section>
