<%= turbo_frame_tag goal do %>
  <div class="d-flex flex-column gap-2 h-100">
    <div>
      <% if goal.user.avatar.attached? %>
        <%= image_tag avatar_path(goal.user.avatar), 
            class: "border border-primary-secondary rounded-circle bg-white",
            alt: 'ユーザのアイコン',
            style: 'width: 3rem; height: 3rem;'
        %>
      <% else %>
        <%= image_tag("default-avatar.png",
                      class: "border border-primary-secondary rounded-circle bg-white",
                      alt: 'デフォルトのユーザアイコン',
                      style: 'width: 3rem; height: 3rem;')
        %>
      <% end %>
      <%= goal.user.name %>
    </div>
    <div class="flex-grow-1 border border-primary-secondary bg-white rounded position-relative">
      <div class="goal-description py-2 px-3"><%= goal.description %></div>
      <% unless goal.reward.in_progress? %>
        <% if goal.achieved? %>
          <%= image_tag('grade-very-good.png', class: 'position-absolute bottom-0 end-0 h-25', alt: 'たいへんよくできました！スタンプ') %>
        <% else %>
          <%= image_tag('grade-good.png', class: 'position-absolute bottom-0 end-0 h-25', alt: 'がんばりました！スタンプ') %>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex align-items-center gap-2">
      <% if goal.owned_by?(current_user) && goal.reward.in_progress? %>
        <div class="row gap-2">
          <%= form_with(model: goal, data: { controller: "slider" }) do |form| %>
            <div class="col d-flex align-items-center gap-1 my-2", style="height: 2.5rem" >
              <%= form.label :progress %>
              <%= form.number_field :progress, class: "text-center px-2 py-1 border border-primary-secondary rounded", style: "max-width: 5rem; outline: none;", readonly: true, id: "hidden_input_progress" %>%
              <div class="ms-3 gap-3" style="display: none" id="update_buttons">
                <%= form.submit "更新", class: "btn btn-outline-primary", style: "width: 4rem" %>
                <%= link_to "取消", reward_path(goal.reward), class: "btn btn-outline-danger", style: "width: 4rem" %>
              </div>
            </div>
          <% end %>
          <div class="col">
            <input type="range"
                   class="form-range" 
                   value="<%= goal.progress %>" 
                   min="0" max="100" step="1"
                   data-controller="slider"
                   data-action="change->slider#inputChange"
                   aria-label="進捗率のスライダー"
            >
          </div>
          <div class="col">
            <%= link_to "編集", edit_goal_path(goal), class: "btn btn-outline-secondary me-2 fs-5", style: "width: 8rem", data: { turbo_frame: "modal"} %>
          </div>
        </div>
      <% else %>
        進捗率
        <div class="flex-grow-1 text-center border border-primary-secondary bg-white rounded px-2 py-1" style="max-width: 5rem">
          <%= goal.progress %>
        </div>%
      <% end %>
    </div>
  </div>
<% end %>
