<% content_for(:title, '目標一覧') %>

<div class="d-flex flex-column justify-content-around align-items-center text-center">
  <div class="btn-group m-3 w-50">
    <%= link_to '実施中', goals_path(display: 'inprogress'), class: "#{current_page_button_primary('inprogress')} #{current_page_button_or_not('inprogress')}" %>
    <%= link_to '終了', goals_path(display: 'completed'), class: "#{current_page_button_primary('completed')} #{current_page_button_or_not('completed')}" %>
  </div>

  <% if @goals.empty? %>
    <div class="p-2">
      <%= render 'no_goals_message', selected_display: @selected_display %>
    </div>
  <% else %>
    <div class="border rounded w-75 m-2 fs-5">
      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th scope="col">期日</th>
            <th scope="col">目標</th>
            <th scope="col">進捗率</th>
          </tr>
        </thead>
        <tbody>
          <% @goals.each do |goal| %>
            <tr>
              <td><%= goal.reward.completion_date %></td>
              <td><%= link_to goal.description, reward_path(goal.reward.id) %></td>
              <td><%= goal.progress %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="m-2">
    <%= paginate @goals,theme: 'bootstrap-5' %>
  </div>
  <div>
    <%= link_to 'ご褒美を追加する', new_reward_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
