<% content_for(:title, '目標一覧') %>
<% set_meta_tags description: '登録した目標の一覧ページです。' %>
<h2 class="main-color text-center w-100 title-bg-color py-3">目標一覧</h2>

<section class="d-flex flex-column justify-content-center align-items-center text-center my-2 mx-1">
  <div class="btn-group mt-2" style="width: 20rem; height: 3rem;">
    <%= link_to '実施中', goals_path(rewards: 'inprogress'), class: "#{button_primary_or_not('inprogress')} #{active_or_not('inprogress')} fs-5" %>
    <%= link_to '終了', goals_path(rewards: 'completed'), class: "#{button_primary_or_not('completed')} #{active_or_not('completed')} fs-5" %>
  </div>

  <% if @goals.empty? %>
    <div class="my-3">
      <%= render 'no_goals_message', completed_or_in_progress: @completed_or_in_progress %>
    </div>
  <% else %>
    <div class="border rounded my-3 goals-index">
      <table class="table table-striped table-borderless" style="table-layout: fixed; max-width: 70rem;">
        <thead>
          <tr>
            <th>期日</th>
            <th>目標</th>
            <th>進捗率</th>
          </tr>
        </thead>
        <tbody>
          <% @goals.each do |goal| %>
            <tr>
              <td>
                <%= goal.reward.completion_date %>
              </td>
              <td data-label="目標" style="overflow: hidden; text-overflow: ellipsis;">
                <%= link_to goal.description, reward_path(goal.reward.id), class: 'text-truncate', style: 'display: block;' %>
              </td>
              <td data-label="進捗率">
                <%= goal.progress %>%
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= paginate @goals, theme: 'bootstrap-5' %>
  <%= link_to '目標を追加する', new_reward_path, class: 'btn btn-outline-primary fs-5', style: 'width: 18rem; height: 3rem;' %>
</section>
