<header class="shadow-sm">
  <% if user_signed_in? %>
    <nav class="d-flex justify-content-around navbar mx-5 gap-5">
      <div class="flex-grow-1">
        <%= link_to goals_path do %>
          <%= image_tag('logo-header.png',style: 'max-height: 5rem;',  alt: 'ヘッダーのGifTreatのロゴ') %>
        <% end %>
      </div>
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary btn-lg' %>
      <%= link_to edit_user_registration_path do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(:profile_icon), class: 'border border-primary-secondary rounded-circle bg-white',style: 'max-height: 5rem;', alt: 'ユーザのアイコン' %>
        <% else %>
          <%= image_tag('default-avatar.png', class: 'border border-primary-secondary bg-white rounded-circle',style: 'max-height: 5rem;', alt: 'デフォルトのユーザアイコン') %>
        <% end %>
      <% end %>
    </nav>
  <% end %>
</header>
