<header>
  <% if user_signed_in? %>
    <nav class="d-flex flex-row justify-content-around navbar navbar-expand-lg border-bottom border-light" style="height: 10vh;">
      <%= link_to goals_path, class: 'nav-link' do %>
        <%= image_tag('logo-header.png', class: 'nav-logo') %>
      <% end %>
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary btn-lg' %>
      <%= link_to edit_user_registration_path, class: 'nav-link' do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(:profile_icon), class: 'rounded-circle bg-info-subtle' %>
        <% else %>
          <%= image_tag('default-avatar.png', class: 'rounded-circle bg-info-subtle', size: '75x75') %>
        <% end %>
      <% end %>
    </nav>
  <% end %>
</header>
